*{
    outline-color: #FF2C96;
}

body {
    color: #fff;
    font-family: "Yuji Mai", serif;
    font-weight: 700;
}
#navi {
    color: #000;
    position: fixed;
    width: 100%;
    background-color: rgba(255,255,255,1);
    height: 80px;
    padding: 25px;
    line-height: 100px;
    z-index: 100;
    transition: 0.5s ease-in-out;
    opacity: 0;
}

header .navi_btn {
    width: 50px;
    height: 50px;
    background-image: url(../top/img/menu.png);
    background-size: 100%;
    position: fixed;
    right: 25px;
    top: 10px;
    z-index: 2100;
}

#navi .txt {
    position: absolute;
    list-style: none;
    display: flex;
    gap: 100px;
    top: -10px;
    right: 220px;
    z-index: 200;
}

#navi .txt li:hover {
    color: #FF2C96;
    transition: 0.5s;
}

#navi .txt p {
    font-size: 18px;
}


.open {
    opacity: 1
    !important;
}

.close {
    background-image: url(../top/img/close.png)
    !important;
}

#bg {
    transition: ease-in-out 0.8s;
}

.bg_01 {
    background-image: url(../top/img/back2.png) !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-attachment: fixed;
}

.bg_02 {
    background-image: url(../top/img/world.png) !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.inner-wrap {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

/* --メインビジュアル-- */

#first{
    background-image: url(../top/img/mein2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 845px;
    transition: 2s ease-in-out;
}

#white_back {
    transition: 2s ease-in-out 3s;
}

#white_back.hide {
    display: none;
}

.white {
    width: 100%;
    height: 950px;
    position: absolute;
    z-index: 2000;
    opacity: 1;
    transition: ease-in-out 4s;
}

#white_back .white.shat {
    opacity: 0;
}

#white_back .white.z-in {
    z-index: 10;
}

#white_back p {
    width: 1200px;
    position: absolute;
    color: #000;
    font-size: 75px;
    font-family:  "Yuji Syuku", serif;
    top: 380px;
    right: 0;
    left: 0;
    margin: 0 auto;
    z-index: 3000;
    opacity: 0;
    transition: 2s ease-in-out 1s;
}

#white_back p.show {
    opacity: 1;
}

#white_back p.down {
    opacity: 0;
}

.title {
    position: absolute;
    top: 65px;
    right: -50px;
}

.hude {
    width: 60%;
    position: absolute;
    top: 415px;
    right: -40px;
}

.souki_txt1,
.souki_txt2 {
    color: #E93200;
    font-weight: 900;
}

.souki_txt1 {
    font-size: 40px;
    position: absolute;
    top: 465px;
    right: 200px;
}

.souki_txt2 {
    font-size: 90px;
    position: absolute;
    top: 515px;
    right: 185px;
}

#buy {
    position: absolute;
    height: 140px;
    top: 680px;
    right: 175px;
    z-index: 1000;
}

.buy_btn h3 {
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    top: 728px;
    right: 213px;
    z-index: 3000;
}

.buy_btn h3.z-in {
    z-index: 9000;
}

/* --最新情報-- */

.news {
    background-image: url(../top/img/forest2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 799.5px;
}

.gold_news {
    position: absolute;
    width: 40%;
    top: 123px;
    margin-left: 365px;
}

.red_news {
    width: 40%;
    position: absolute;
    top: 165px;
    left: 365px;
}

.news .midasi p {
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 180px;
    left: 545px;
}

.naiyo_waku {
    height: 390px;
    position: absolute;
    top: 340px;
    left: 100px;
    z-index: 1;
}

.naiyou p {
    font-size: 18px;
    line-height: 75px;
    position: absolute;
    top: 385px;
    left: 200px;
    z-index: 10;
}

ul {
    padding-top: 346px;
    padding-left: 130px;
    z-index: 10;
}

.line {
    margin-top: 75px;
}

/* -- ゲーム概要 -- */

.gaiyou {
    height: 4000px;
}

.gold {
    position: absolute;
    width: 40%;
    top: 63px;
    margin-left: 363px;
}

.red {
    width: 40%;
    position: absolute;
    top: 105px;
    left: 365px;
}

.gaiyou .midasi p {
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 120px;
    left: 540px;
}

@keyframes slideIn_left {
    0% {
      transform: translateX(-180px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
    }
    40%,100% {
      opacity: 1;
    }
  }

  @keyframes slideIn_right {
    0% {
      transform: translateX(180px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
    }
    40%,100% {
      opacity: 1;
    }
  }

  @keyframes slideIn_up {
    0% {
      transform: translateY(-180px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
    }
    40%,100% {
      opacity: 1;
    }
  }

.ani_left {
    animation: slideIn_left 1s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

.ani_right {
    animation: slideIn_right 1s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

.ani_up {
    animation: slideIn_up 1s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

/* -- アクション -- */

.action {
    position: relative;
    transform: translate(-100px,0);
}

.katu_ac1 {
    position: absolute;
    width: 22%;
    top: 260px;
    left: 330px;
    opacity: 0;
    transition: 1s ease-in 0;
}

.katu_ac2 {
    position: absolute;
    width: 22%;
    top: 311px;
    left: 685px;
    opacity: 0;
    transition: 1s ease-in-out 1s;
}

.katu_ac3 {
    position: absolute;
    width: 22%;
    top: 362px;
    left: 1035px;
    opacity: 0;
    transition: 1s ease-in-out 2s;
}

.txt_ac {
    width: 115%;
    position: absolute;
    padding-top: 400px;
    left: 100px;
    z-index: 1000;
    opacity: 0;
}

.action p {
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    position: absolute;
    top: 995px;
    left: 150px;
    z-index: 10000;
}

.waku_ac {
    width: 600px;
    position: absolute;
    top:940px;
    left: 100px;
    z-index: 1000;
}

/* -- キャラクター -- */

.character {
    position: relative;
}

.katu_ch {
    position: absolute;
    top: 1200px;
}

.koto {
    position: absolute;
    width: 22%;
    top: 1200px;
    right: 245px;
    opacity: 0;
}

.rasu {
    position: absolute;
    width: 22%;
    top: 1253px;
    left: 345px;
    opacity: 0;
}

.iori {
    position: absolute;
    width: 22%;
    top: 1304px;
    opacity: 0;
}

.txt_ch {
    width: 100%;
    position: absolute;
    top: 1350px;
    right: 0;
    opacity: 0;
}

.waku_ch {
    width: 600px;
    position: absolute;
    top: 1870px;
    right: 0;
}

.character p {
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    position: absolute;
    top: 1925px;
    right: 142px;
}

/* -- モンスター -- */

.monster {
    position: relative;
}

.katu_mo {
    position: absolute;
    top: 2100px;
    right: 0;
}

.saku {
    position: absolute;
    width: 22%;
    top: 2202px;
    right: 4px;
    opacity: 0;
}

.suru {
    position: absolute;
    width: 22%;
    top: 2151px;
    right: 349px;
    opacity: 0;
}

.demo {
    position: absolute;
    width: 22%;
    top: 2100px;
    left: 242px;
    opacity: 0;
}

.txt_mo {
    width: 80%;
    position: absolute;
    top: 2230px;
    opacity: 0;
}

.waku_mo {
    width: 600px;
    position: absolute;
    top: 2778px;
    z-index: 100;
}

.monster p {
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    position: absolute;
    top: 2834px;
    left: 110px;
    z-index: 200;
}


/* -- プロダクト -- */

.products {
    position: relative;
}

.pro1 {
    position: absolute;
    width: 22%;
    top: 3105px;
    opacity: 0;
}

.pro2 {
    position: absolute;
    width: 22%;
    top: 3050px;
    left: 345px;
    opacity: 0;
}

.pro3 {
    position: absolute;
    width: 22%;
    top: 3000px;
    right: 245px;
    opacity: 0;
}

.txt_pr {
    width: 80%;
    position: absolute;
    top: 3160px;
    right: 0;
    opacity: 0;
}

.waku_pr {
    width: 600px;
    position: absolute;
    top: 3680px;
    right: 0;
}

.products p {
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    position: absolute;
    top: 3735px;
    right: 130px;
}

/* -- 物語 -- */

.story {
    /* background-image: url(../top/img/gree_sky.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    height: 1365px;
    position: relative;
}

.story .midasi p {
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 120px;
    left: 570px;
}

.paper_story {
    position: absolute;
    width: 100%;
    top: 300px;
    left: 5px;
}

.txt_st {
    color: #57401E;
    font-family: "Kaisei Decol", serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    position: absolute;
    line-height: 60px;
    top: 415px;
    left: 270px;
    opacity: 0;
    transition: ease-in 3s;
}

.txt_st.on {
    opacity: 1;
}

.koto_kage {
    width: 23%;
    position: absolute;
    top: 850px;
    right: 100px;
    opacity: 0;
    transition: ease-in 1s;
}

/* -- ガイドライン -- */

.guide {
    background-image: url(../top/img/guide_back.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1112.28px;
    position: relative;
}

.guide .midasi p {
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 120px;
    left: 525px;
}

.paper_guide {
    width: 850px;
    position: absolute;
    top: 380px;
    left: -120px;
}

.txt_gu {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    position: absolute;
    top: 440px;
    left: 10px;
}

/* フッター */

.hutta {
    background-image: url(../top/img/hutta_back.png),url(../top/img/hutta_kuro.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
}

li {
    font-size: 26px;
}

.T {
    position: absolute;
    top: 100px;
    left: 200px;
    z-index: 1000;
    transition: ease-in-out 0.5s;
}

.T:hover {
    color: #2D47DC;
}

.A {
    position: absolute;
    top: 100px;
    left: 350px;
    z-index: 1000;
    transition: ease-in-out 0.5s;
}

.A:hover {
    color: #2D47DC;
}

.C {
    position: absolute;
    top: 100px;
    left: 550px;
    z-index: 1000;
    transition: ease-in-out 0.5s;
}

.C:hover {
    color: #2D47DC;
}

.M {
    position: absolute;
    top: 100px;
    left: 780px;
    z-index: 1000;
    transition: ease-in-out 0.5s;
}

.M:hover {
    color: #2D47DC;
}

.P {
    position: absolute;
    top: 100px;
    left: 1000px;
    z-index: 1000;
    transition: ease-in-out 0.5s;
}

.P:hover {
    color: #2D47DC;
}

.B {
    position: absolute;
    top: 300px;
    left: 480px;
    z-index: 1000;
    transition: ease-in-out 0.5s;
}

.B:hover {
    color: #2D47DC;
}

.S {
    position: absolute;
    top: 240px;
    left: 780px;
}

.discode {
    width: 6%;
    position: absolute;
    top: 280px;
    left: 830px;
    z-index: 1000;
}

.x {
    position: absolute;
    top: 280px;
    left: 940px;
    z-index: 1000;
}

.title2 {
    width: 380px;
    position: absolute;
    top: 160px;
    left: 120px;
}

.on {
    opacity: 1 !important;
}

.off {
    opacity: 0 !important;
}